/* p{
    color: aqua;
} */
/* .p1{
    color: red;
}
.p2{
    color: blue;
} */

/* #h1{
    color: cadetblue;
} */
/* .head1{
    color: chartreuse;
}
h1{
    color: brown;
} */
/* #h2{
    color: burlywood;
} */