/* a{
    display: block;
    width: 200px;
    height: 200px;
} */

nav{
    border: 3px solid black;
    background-color: rgb(18, 81, 81);
}
ul{
    text-align: end;
}
li{
    display: inline;
    color: white;
    border: 3px solid;
    margin: 40px;
    font-size: 50px;
}
li:hover{
    background-color: coral;
    color: black;
    font-size: 60px;
    transition-duration: 3s;
}