.container{
    height: 800px;
    width: 800px;
    border: 2px solid red;
    display: flex;
    flex-direction: row; /*By default, its row*/
    flex-wrap: wrap;
    gap: 100px;
    /* flex-flow: row-reverse wrap-reverse; */
    justify-content: center;
    align-items: center;
}
#box-1{
    /* order: 1; */
    /* flex-grow: 1; */
}
#box-3{
    /* flex-grow: 2; */
}
#box-8{
    /* flex-grow: 3; */
    /* flex-basis: 100px;
    flex: 10 20 200px; */
}

.box{
    border: 2px solid black;
}