nav{
    height: 100px;
    border: 1px solid black;
    background-color: rgb(131, 231, 131);
    padding: 10px;
}
ul{
    text-align: end;
}
li{
    display: inline;
    font-size: 30px;
    margin: 20px;
    padding: 5px;
    border: 5px solid red;
}
li:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}