/* p{
    color: brown;
} */
/* .p1{
    color: brown;
}
.p2{
    color: blue;
}

#heading2{
    color: yellow;
    }  */

/* #heading1{
        color: chocolate;
    } */
/* .h1{
    color: blueviolet;
}
h1{
    color: crimson;
} */