/* p{
    color: aquamarine;
} */
/* .p1{
    color: yellowgreen;
}
.p2{
    color: violet;
} */

/* h1{
    color: yellowgreen;
} */
/* .heading1{
    color: violet;
} */
/* #head1{
    color: tomato;
} */
/* #head2{
    color: blue;
} */