/* p{
    color: red;
} */
/* .p1{
    color: red;
}
.p2{
    color: blue;
} */
h1{
    color: coral;
}
.heading1{
    color: blueviolet;
} 
#head1{
    color: brown;
}
/* #head2{
    color: chartreuse;
} */