.container{
    width: 800px;
    height: 500px;
    border: 5px solid black;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center; /* it works upon the main axis */
    align-items : center; /* It works upon tehe cross axis */
}
.box{
    width: 100px;
    border: 5px solid red;
}