*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 700px;
    border: 2px solid black;
    display: grid;
    row-gap: 100px;
    column-gap: 50px;
    grid-template-columns: 100px 200px 300px;
    justify-content: center;
    align-items: center;
}
.box{
    border: 2px solid red;
    padding: 12px;
}